@model MVCVirtualPets.Models.Pet
@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pet Details - @Model.Name</title>
    <link href="~/Main.css" rel="stylesheet" />
</head>
<body>
    <h1>@Model.Name's Details</h1>
    <p>Stuff goes here...</p>
    @Model.Name
    <br />
    <br />
    <a href="/Pet">...Go Back to List</a>
</body>
</html>
